<link rel="stylesheet" href="/vendor/flatpickr/flatpickr.min.css">
<script src="/vendor/flatpickr/flatpickr.min.js"></script>
<script src="/javascripts/userAccountsInfo.js"></script>
<body class="bg-logo-navy">


<header class = "bg-logo-navy h-[100px]">
    <div class="flex justify-between items-center w-5/7">
        <div class="flex-1 basis-[5%] max-w-[300px] min-w-[300px]">
            <img src="/images/hippo-logo.png" alt="Hippo Capital Logo" class="h-[100px]"/>
        </div>
        <a href = "/employeeDashboard" class = "flex-1 basis-[5%] max-w-[28px] min-w-[28px] flex justify-center-safe items-center transition duration-200 ease-in-out hover:scale-105">
            <img src="/images/home-icon.png" alt="Home" class="h-7 w-7" />
        </a>

        <a href = "/employeeDashboard/userAccounts/{{user_id}}" class = "flex-1 basis-[5%] max-w-[150px] min-w-[100px] flex justify-center-safe items-center transition duration-200 ease-in-out hover:scale-105">
            <p class="m-[6px] text-center text-custom-gold hover:text-white">Return to Accounts</p>
        </a>
    </div>
</header>

<!-- account info -->
<div class=" bg-black text-black h-full max-w-full mr-[50px] ml-[50px]">
    <div class=" bg-white rounded pl-[5px]">
        <span id="user_id" hidden>{{user_id}}</span>
        <h1 class="text-2xl font-bold underline">Account Details</h1>
        <p><span class="font-semibold">Account Number:</span> <span id="account_number">{{account.account_number}}</span></p>
        <p><span class="font-semibold">Account Type & Sub-type:</span> {{capitalizeLetter account.account_type}} {{capitalizeLetter account.account_sub_type}}</p>
        <p><span class="font-semibold">Account Holder Name(s):</span>
        <ul class="capitalize space-y-[8px] pb-[6px]">
            {{#each account_user}}
                <li>{{id}} - {{first_name}} {{#if middle_name}}{{firstLetter middle_name}}. {{/if}} {{surname}} - {{capitalizeLetter role}}</li>
            {{/each}}
        </ul>
        <p><span class="font-semibold">Account Opened Date:</span> {{formatDate account.date_opened}}</p>
    </div>
</div>

<!-- Summary Cards -->
<div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-5 gap-4 mb-8 mt-[10px]">
    <div class="bg-gray-50 p-4 rounded shadow text-center">
        <p class="text-gray-500 text-sm">Current Balance</p>
        <p class="text-xl font-semibold">£{{formatNumber account.balance}}</p>
    </div>
    {{#if account.interest_rate_credit}}
        <div class="bg-gray-50 p-4 rounded shadow text-center">
            <p class="text-gray-500 text-sm">Interest Rate Earned</p>
            <p class="text-xl font-semibold">{{#if account.interest_rate_credit}}{{account.interest_rate_credit}}% {{else}}N/A{{/if}}</p>
        </div>
    {{/if}}
    {{#if account.interest_rate_debit}}
        <div class="bg-gray-50 p-4 rounded shadow text-center">
            <p class="text-gray-500 text-sm">Interest Rate Charged</p>
            <p class="text-xl font-semibold">{{#if account.interest_rate_debit}}{{account.interest_rate_debit}}% {{else}}N/A{{/if}}</p>
        </div>
    {{/if}}
    {{#if account.interest_rate_debit}}
        <div class="bg-gray-50 p-4 rounded shadow text-center">
            <p class="text-gray-500 text-sm">Overdraft Limit</p>
            <p class="text-xl font-semibold">{{#if account.overdraft_limit}}£{{formatNumber account.overdraft_limit}} {{else}}N/A{{/if}}</p>
        </div>
    {{/if}}
    <!-- Toggle Open/Close -->
    <form action="/employeeDashboard/userAccounts/{{account.user_id}}/userAccountsInfo/{{account.account_number}}/toggleStatus" method="POST" class="mt-4 text-white">
        <button type="submit" class="px-4 py-2 rounded-lg {{#if account.is_active}}bg-red-600 hover:bg-red-700{{else}}bg-green-600 hover:bg-green-700{{/if}}">
        {{#if account.is_active}}Close Account{{else}}Open Account{{/if}}
        </button>
    </form>
</div>
<div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-5 gap-4 mb-8 mt-[10px]">
    <!-- Edit Overdraft Limit -->
    <form action="/employeeDashboard/userAccounts/{{account.user_id}}/userAccountsInfo/{{account.account_number}}/editOverdraft" method="POST" class="mt-4 text-white">
        <label for="overdraft" class="block font-semibold mb-1">Change Overdraft Limit</label>
        <input type="number" step="0.01" name="overdraft" id="overdraft" value="{{account.overdraft_limit}}" class="border rounded p-2 w-[100px] mr-[20px]">
        <button type="submit" class="mt-2 px-4 py-2 rounded-lg bg-logo-navy text-white hover:bg-logo-navy-hover border "> Update Overdraft </button>
    </form>

    {{#unless
            (or
                    (eq account.account_type "personal_single")
                    (eq account.account_type "business_single")
                    (and (eq account.account_type "personal_joint") (gte (length account_user) 2))
                    (and (eq account.account_type "business_multi-signitory") (gte (length account_user) 5))
            )}}
        <form action="/employeeDashboard/userAccounts/{{account.user_id}}/userAccountsInfo/{{account.account_number}}/addUser" method="POST" class="mt-4 text-white">
            <label for="addUser" class="block font-semibold mb-1">Add User</label>
            <input type="number" step="1" name="addUser" id="addUser" value="1" class="border rounded p-2 w-[100px] mr-[20px]">
            <button type="submit" class="mt-2 px-4 py-2 rounded-lg bg-logo-navy text-white hover:bg-logo-navy-hover border ">
                Add User
            </button>
        </form>
    {{/unless}}

    {{#unless (or
                      (eq account.account_type "personal_single")
                      (eq account.account_type "business_single")
                      (and (eq account.account_type "personal_joint") (lte (length account_user) 1))
                      (and (eq account.account_type "business_multi-signitory") (lte (length account_user) 1))
              )}}
        <form action="/employeeDashboard/userAccounts/{{account.user_id}}/userAccountsInfo/{{account.account_number}}/removeUser" method="POST" class="mt-4 text-white">
            <label for="removeUser" class="block font-semibold mb-1">Remove User</label>
            <input type="number" step="1" name="removeUser" id="removeUser" class="border rounded p-2 w-[100px] mr-[20px]">
            <button type="submit" class="mt-2 px-4 py-2 rounded-lg bg-logo-navy text-white hover:bg-logo-navy-hover border">
                Remove User
            </button>
        </form>
    {{/unless}}
</div>



<!-- Transactions Section -->
<div class="max-w-5xl mx-auto p-6 bg-white shadow-lg rounded-xl mt-6">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Transactions</h2>

    <!-- Filters -->
    <div class="flex flex-col sm:flex-row gap-4 mb-6">
        <!-- Text search -->
        <input
                id="searchInput"
                type="text"
                placeholder="Search description, type..."
                class="border rounded px-4 py-2 flex-1"
        />

        <!-- Date filter -->
        <input
                id="dateFilter"
                type="text"
                placeholder="Select day or month"
                class="border rounded px-4 py-2 w-[200px]"
        />

        <!-- Apply button -->
        <button
                id="applyFilters"
                class="bg-logo-navy hover:bg-logo-navy-hover text-white px-4 py-2 rounded">
            Apply Filters
        </button>
    </div>

    <!-- Transactions Table -->
    <div class="overflow-x-auto">
        <table class="min-w-full text-sm text-left text-gray-600" id="transactionTable">
            <thead class="bg-gray-100 text-gray-800 uppercase text-xs">
            <tr>
                <th class="px-4 py-3 text-center">Date</th>
                <th class="px-4 py-3 text-center">Description</th>
                <th class="px-4 py-3 text-center">Direction</th>
                <th class="px-4 py-3 text-center">Type</th>
                <th class="px-4 py-3 text-center">Amount</th>
                <th class="px-4 py-3 text-center">Balance</th>
                <th class="px-4 py-3 text-center">From</th>
                <th class="px-4 py-3 text-center">To</th>
                <th class="px-4 py-3 text-center">Transaction</th>
            </tr>
            </thead>
            <tbody id="transactionTableBody">

            </tbody>
        </table>
    </div>


    <!-- Load More -->
    <div class="flex justify-center mt-4">
        <button id="loadMoreBtn" class="bg-gray-200 px-4 py-2 rounded hover:bg-gray-300">
            Load More
        </button>
    </div>
</div>
<hr class="border-white mt-[10px]">
{{> footer }}
<hr class="border-white">
</body>
